body
	background-color  #f5f6fa
	font-size 14px;
	font-family: 'Playfair Display', serif;
	
h2,h3,h4,h5,ul,body,html
	padding 0px
	margin 0px
	font-family: 'Playfair Display', serif;
	
.mtop16
	margin-top 16px 

	
.wrapper
	min-height 100vh
	overflow hidden
	.col1
		float left
		position relative
		z-index 999
		width 17%
	.col2
		float left
		width 83%

.sidebar
	background-color #fff
	min-height 100vh
	.section-top
		background-color #D433FF
		box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
	.logo
		display block
		margin 0px auto
		padding-top 24px
		width 60%
	.user
		color #fff !important
		padding 16px
		a
			color #fff
			font-size 1.2em
	.main
		display block
		margin-top 8px
		ul
			li
				margin-bottom 4px
				a
					color #131014 !important
					display block
					font-size 1.1em
					padding 12px 16px
					i
						margin-right 10px
					&:hover
						background-color #D433FF
						box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
						color #fff !important
						text-decoration none !important



.navbar
	background-color #D433FF
	a
		color #fff !important
		


.page
	padding-top 16px
	padding-bottom 16px 
	.breadcrumb 
		background-color #fff 
		box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important
		.breadcrumb-item
			a
				&:hover
					text-decoration none !important
	.panel
		background-color #fff
		border-radius 6px
		border-bottom 2px solid #D433FF
		width 100%
		.header
			border-bottom 1px solid #e8e8e8
			h2.title
				display inline-block 
				color #19213D
				font-size 1.1em
				padding 12px 16px 
		.inside
			padding 16px
			.nav
				.nav-link
					border 1px solid #D433FF
					margin-right 8px
					&:hover 
						background-color #D433FF
						color #fff
			

.opts
	a
		border-radius 4px
		border 1px solid #f0f0f0
		display inline-block 
		padding 8px 12px
		


		
				