color1= #D433FF
color2= #8033FF
body
	background-color #f9f9f9
	font-size 14px
	font-family: 'Playfair Display', serif;
	
nav
	background-color #fff
	border-bottom 2px solid color1
	.navbar-brand
		img
			width 140px
	.navbar-toggler
		color color1
		span
		&:active
		&:focus
			box-shadow none
			outline none				
	.navbar-nav
		li.nav-item
			a.nav-link
				border 1px solid #fff
				border-radius 4px
				color #000
				font-size .9em
				font-weight bold
				margin-right 4px
				padding 5px 16px !important
				&:hover
					color color2
			a.btn
				background-color color1
				&:hover
					background-color 
		li.link-acc
			overflow hidden
			a
				display inline-block
				float left
				margin-right 0px !important
				li.link-user
					overflow initial
					a
					border 0px !important
				