body
	background-color #f6f6f6
	margin 0px
	
.mtop16	
	margin-top 16px
	

.box
	background-color #fff
	border-radius 8px
	border 1px solid #d6d6d6
	position absolute
	
	width 500px
	.btn-success
		background-color #3374FF
		border 0px
		width 100%
	.inside
		padding 16px
	.header
		background-color #33B5FF
		border-radius 10px
		padding 16px
		a
			img
				
				margin 0px auto
				width 95%
.footer
	text-align center
	a
		display inline-block
		font-size .8em
		&:last-child
			margin-left 24px

.box_login
	left calc(50% - 230px)
	top calc(50% - 380px)

.box_register
	left calc(50% - 230px)
	top calc(50% - 460px)
	

	



